*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#0f172a;
color:white;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
width:90%;
max-width:700px;
text-align:center;
}

h1{
font-size:3rem;
margin-bottom:10px;
}

.subtitle{
color:#cbd5e1;
margin-bottom:25px;
}

.card{
background:#1e293b;
padding:25px;
border-radius:15px;
margin-bottom:20px;
}

.contador{
font-size:5rem;
font-weight:bold;
}

.status{
font-size:2rem;
font-weight:bold;
}

.ligada{
color:#22c55e;
}

.desligada{
color:#ef4444;
}

.acoes{
display:flex;
justify-content:center;
gap:15px;
}

button{
padding:15px 25px;
border:none;
border-radius:10px;
cursor:pointer;
font-size:1rem;
font-weight:bold;
}

#btnLigar{
background:#22c55e;
color:white;
}

#btnDesligar{
background:#ef4444;
color:white;
}